//BEGIN footer
footer.footer#contact
  .container
    .row
      .col-sm-5.col-xs-12
        .footer__logo
          h4 Viktor Heinle
        .footer__relations
          p Alemannenweg 56<br>97980 Bad Mergentheim 
            a(href="https://www.google.com.ua/maps/place/Alemannenweg+56,+97980+Bad+Mergentheim,+%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8F/@49.48399,9.7765013,17z/data=!3m1!4b1!4m5!3m4!1s0x4798710722cf9019:0xcf3174c9cc5b4c35!8m2!3d49.48399!4d9.77869?hl=ru" target="_blank") auf der Karte öffnen
          b Tel.: 
            a(href="tel:07931949736") 07931-949736
          b E-Mail: 
            a(href="mailto:info@viktor-heinle.de") info@viktor-heinle.de
        .footer__social
          a(href="#")
            i.icon.icon-youtube
          a(href="#")
            i.icon.icon-facebook
          a(href="#")
            i.icon.icon-instagram
          a(href="#")
            i.icon.icon-linkedin
        .footer__copyright
          p © 2019 Viktor Heinle | 
            a(href="#" target="_blank") Impressum
      .col-sm-6.col-xs-12.col-sm-offset-1
        form.footer__form
          .footer__form__row
            .footer__form__input
              strong Ihr Name
              input(type="text" placeholder="Gib deinen Namen ein")
            .footer__form__input
              strong Ihr E-MAIL
              input(type="email" placeholder="Geben sie ihre E-Mail Adresse ein")
          .footer__form__input
            strong DEINE NACHRICHT
            textarea
          button(type="submit").btn.btn-primary NACHRICHT SENDEN
//END footer