//BEGIN footer
footer.footer
  .container
    .row
      .col-sm-5.col-xs-12.first-sm
        .footer__logo
          h4 Viktor Heinle
        .footer__relations
          p Alemannenweg 56<br>97980 Bad Mergentheim 
            a(href="#") auf der Karte öffnen
          b Tel.: 
            a(href="tel:07931949736") 07931-949736
          b E-Mail: 
            a(href="mailto:info@viktor-heinle.de") info@viktor-heinle.de
        .footer__social
          a(href="#")
            i.icon.icon-youtube
          a(href="#")
            i.icon.icon-facebook
          a(href="#")
            i.icon.icon-instagram
          a(href="#")
            i.icon.icon-linkedin
        .footer__copyright
          p © 2019 Viktor Heinle | 
            a(href="#") Impressum
      .col-sm-6.col-xs-12.col-sm-offset-1.first-xs
        form.footer__form
          .footer__form__row
            .footer__form__input
              strong Ihr Name
              input(type="text" placeholder="Gib deinen Namen ein")
            .footer__form__input
              strong Ihr E-MAIL
              input(type="email" placeholder="Geben sie ihre E-Mail Adresse ein")
          .footer__form__input
            strong DEINE NACHRICHT
            textarea
          button(type="submit").btn.btn-primary NACHRICHT SENDEN
//END footer