//BEGIN header
header.header
  .container
    .row
      .col-xs-4
        .header__logo
          span Viktor Heinle
      .col-xs-8
        .header__nav
          nav
            ul
              li
                a(href="#") Portrait
              li
                a(href="#") Media
              li
                a(href="#") Service
              li
                a(href="#") kontakt
          .header__social
            a(href="#")
              i.icon.icon-youtube
            a(href="#")
              i.icon.icon-facebook
            a(href="#")
              i.icon.icon-instagram
            a(href="#")
              i.icon.icon-linkedin
//END header
