//BEGIN header
header.header
  .container
    .row
      .col-sm-4.col-xs-7
        .header__logo
          .open-menu
            i.icon.icon-burger
          span Viktor Heinle
      .col-sm-8.col-xs-5
        .header__nav
          nav
            ul
              li
                a(href="#portrait") Portrait
              li
                a(href="#media") Media
              li
                a(href="#service") Service
              li
                a(href="#contact") kontakt
          .header__social
            a(href="#")
              i.icon.icon-youtube
            a(href="#")
              i.icon.icon-facebook
            a(href="#")
              i.icon.icon-instagram
            a(href="#")
              i.icon.icon-linkedin
.bg
.mobile-menu
  .close-menu 
    i.icon.icon-close-2
  span Viktor Heinle
  ul
    li
      a(href="#portrait") Portrait
    li
      a(href="#media") Media
    li
      a(href="#service") Service
    li
      a(href="#contact") kontakt
//END header
