//BEGIN header
header.header
  .container
    .row
      .col-sm-4.col-xs-7
        .open-menu
          i.icon.icon-burger
        .header__logo
          span Viktor Heinle
      .col-sm-8.col-xs-5
        .header__nav
          nav
            ul
              li
                a(href="#") Portrait
              li
                a(href="#") Media
              li
                a(href="#") Service
              li
                a(href="#") kontakt
          .header__social
            a(href="#")
              i.icon.icon-youtube
            a(href="#")
              i.icon.icon-facebook
            a(href="#")
              i.icon.icon-instagram
            a(href="#")
              i.icon.icon-linkedin
//END header
