.service
  padding: 70px 0
  +r(767)
    padding: 30px 0
  &__content
    background-color: #fdfdfd
    display: flex
    +r(767)
      flex-direction: column
      padding: 0 15px
  &__block
    padding: 35px
    width: 100%
    +r(1040)
      padding: 20px
    +r(767)
      border-bottom: 1px solid #eeeeee
      padding: 20px 0
    &:first-child
      position: relative
      &:before
        content: ''
        position: absolute
        top: 50%
        right: 20px
        transform: translate(0, -50%)
        background: #eeeeee
        width: 1px
        height: calc(100% - 70px)
        +r(767)
          display: none
    &:last-child
      background-color: #eeeeee
    &--secondary
      +r(767)
        border-top: 1px solid #eeeeee
        margin-top: 30px
        padding-top: 30px
        h3
          margin-top: 0 !important
    &--primary 
      +r(767)
        padding: 20px
        width: calc(100% + 30px)
        margin-left: -15px
    h3
      font-size: 14px
      font-weight: 500
      line-height: 1.29
      letter-spacing: 1.4px
      color: #131313
      max-width: 285px
      text-transform: uppercase
      margin-bottom: 25px
      min-height: 55px
      +r(767)
        min-height: auto
    li
      font-size: 14px
      font-weight: normal
      line-height: 1.29
      letter-spacing: 1.4px
      color: #131313
      margin-bottom: 15px
      display: flex
      max-width: 245px
      i
        color: #bebebe
        font-size: 10px
        margin-right: 10px
        margin-top: 4px
    &__price
      padding: 40px 0 20px
      border-bottom: 1px solid #fdfdfd
      &:nth-child(2)
        padding-top: 0
      &:last-child
        border-bottom: none
      h4
        font-size: 14px
        font-weight: 500
        line-height: 1.29
        letter-spacing: 1.4px
        color: #131313
        margin-bottom: 8px
      strong
        font-size: 18px
        font-weight: bold
        line-height: 1
        letter-spacing: 1.8px
        color: #131313
        span
          font-size: 14px
          font-weight: normal
          letter-spacing: 1.4px
      p
        font-size: 14px
        font-weight: normal
        line-height: 1.29
        letter-spacing: 1.4px
        color: #131313
        margin-bottom: 5px