@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-burger: "\EA01";
$icon-facebook: "\EA02";
$icon-instagram: "\EA03";
$icon-linkedin: "\EA04";
$icon-marker: "\EA05";
$icon-music: "\EA06";
$icon-pink: "\EA07";
$icon-youtube: "\EA08";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-burger:before { content: $icon-burger; }
.icon-facebook:before { content: $icon-facebook; }
.icon-instagram:before { content: $icon-instagram; }
.icon-linkedin:before { content: $icon-linkedin; }
.icon-marker:before { content: $icon-marker; }
.icon-music:before { content: $icon-music; }
.icon-pink:before { content: $icon-pink; }
.icon-youtube:before { content: $icon-youtube; }
