section.intro
  .container
    .intro__content
      .intro__logo
        h1 viktor heinle
        p Ein professioneller Künstler für Ihr Event
      .intro__btn
        a(href="#") preise und leistungen
        a(href="#").btn.btn-secondary zu kontaktieren