section.intro
  .container
    .intro__content
      .intro__logo
        h1 viktor heinle
        p Ein professioneller Künstler für Ihr Event
      .intro__btn
        a(href="#" target="_blank") preise und leistungen
        a(href="#contact").btn.btn-secondary zu kontaktieren