section.media#media
  .container
    h2 
      span Media
    .media__content
      .media__block.media__block-video.span-1
        img(src="img/img-1.jpg", alt="")
        a(href="#")
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 133 93.516')
            defs
              style.
                .cls-1{fill:url(#linear-gradient)}     
              lineargradient#linear-gradient(x1='.5', x2='.5', y2='2.557', gradientunits='objectBoundingBox')
                stop(offset='0', stop-color='#d63939')          
                stop(offset='1') 
            path#youtube-brands.cls-1(d='M145.154 78.632A16.711 16.711 0 0 0 133.4 66.8C123.023 64 81.433 64 81.433 64s-41.59 0-51.962 2.8a16.712 16.712 0 0 0-11.759 11.832c-2.779 10.439-2.779 32.22-2.779 32.22s0 21.781 2.779 32.22a16.463 16.463 0 0 0 11.759 11.646c10.372 2.8 51.962 2.8 51.962 2.8s41.59 0 51.962-2.8a16.463 16.463 0 0 0 11.759-11.646c2.779-10.439 2.779-32.22 2.779-32.22s0-21.781-2.779-32.22zm-77.323 52V91.077l34.761 19.776z', transform='translate(-14.933 -64)')
      .media__block.span-2
        img(src="img/img-2.jpg", alt="")
      .media__block
        img(src="img/img-3.jpg", alt="")
      .media__block.span-2
        img(src="img/img-4.jpg", alt="")
      .media__block.span-2
        img(src="img/img-5.jpg", alt="")
      .media__block
        img(src="img/img-6.jpg", alt="")
      .media__block.media__block-video.span-1
        img(src="img/img-7.jpg", alt="")
        a(href="#")
         svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 133 93.516')
            defs
              style.
                .cls-1{fill:url(#linear-gradient)}     
              lineargradient#linear-gradient(x1='.5', x2='.5', y2='2.557', gradientunits='objectBoundingBox')
                stop(offset='0', stop-color='#d63939')          
                stop(offset='1') 
            path#youtube-brands.cls-1(d='M145.154 78.632A16.711 16.711 0 0 0 133.4 66.8C123.023 64 81.433 64 81.433 64s-41.59 0-51.962 2.8a16.712 16.712 0 0 0-11.759 11.832c-2.779 10.439-2.779 32.22-2.779 32.22s0 21.781 2.779 32.22a16.463 16.463 0 0 0 11.759 11.646c10.372 2.8 51.962 2.8 51.962 2.8s41.59 0 51.962-2.8a16.463 16.463 0 0 0 11.759-11.646c2.779-10.439 2.779-32.22 2.779-32.22s0-21.781-2.779-32.22zm-77.323 52V91.077l34.761 19.776z', transform='translate(-14.933 -64)')
    .media__btn
      a(href="#" target="_blank").btn.btn-primary 
        i.icon.icon-youtube
        | mehr videos
      a(href="#" target="_blank").btn.btn-primary 
        i.icon.icon-instagram
        | mehr Bilder