section.portrait
  .container
    .row.middle-xs
      .col-sm-5.col-xs-12.hidden-xs
        .portrait__img
          img(src="img/portrait.png", alt="")
      .col-sm-6.col-sm-offset-1.col-xs-12
        h2 
          span Portrait
        strong Live-Musiker und Solo-Entertainer
        p Viktor Heinle wurde in der Russischen Föderation geboren. In einer Musikerfamilie aufgewachsen, sammelte er frühzeitig erste Erfahrungen mit Musik. Seine Begabung wurde schon bald in eine professionelle Bahn gelenkt. Viktor Heinle begann seine musikalische Entwicklung an einer Musikschule für Kinder. Während seiner Schulzeit erhielt er Unterricht in Akkordeon und Klavier sowie zusätzlich in einigen musiktheoretischen Fächern wie Harmonielehre, Gehörbildung und Solfège.
        p Nach dem Abitur folgte ein Studium an der Musikakademie das er 1989 mit dem Grad Diplom -Dirigent und -Musikpädagoge abschloss.
        p Schon seit der Studienzeit erteilt Viktor Heinle Musikunterricht für Anfänger und Fortgeschrittene aller Leistungsstufen und verfügt auf diese Weise heute bereits über viel Erfahrung im Bereich der Kinder- und Erwachsenenpädagogik.
        p Neben dieser pädagogisch orientierten Tätigkeit, nach Abschluss des Studiums begann der Künstler als Live -Musiker, Sänger und Moderator auf verschiedenen Veranstaltungen aufzutreten.
        p Derzeit lebt Viktor Heinle in Bad Mergentheim und geht einer freiberuflichen Tätigkeit als Musiklehrer nach.
        svg(xmlns="http://www.w3.org/2000/svg" width="140" height="82" viewBox="0 0 140 82")
          text(transform="translate(15 41)" font-size="41" font-family="AcquestScript, Acquest Script")
            tspan(x="0" y="0") V. Heinle