section.service#service
  .container
    h2
      span Service
    .service__content
      .service__block
        h3 Für welche Veranstaltungen kann Viktor Heinle gebucht werden?
        ul
          li
            i.icon.icon-pink
            span Betriebsfeiern
          li
            i.icon.icon-pink
            span Eröffnungen
          li
            i.icon.icon-pink
            span Jubiläum
          li
            i.icon.icon-pink
            span Vereinsfeier 
          li
            i.icon.icon-pink
            span Geburtstag
          li
            i.icon.icon-pink
            span Messen
          li
            i.icon.icon-pink
            span Professionelle Events & Veranstaltungen
          li
            i.icon.icon-pink
            span Private Familienfeiern
          li
            i.icon.icon-pink
            span Seniorenheime
          li
            i.icon.icon-pink
            span Hochzeiten
          li
            i.icon.icon-pink
            span Silberhochzeiten
          li
            i.icon.icon-pink
            span Sonstige Events gerne auch nach Absprache
      .service__block
        h3 Welchen Service bietet Viktor Heinle?
        ul
          li
            i.icon.icon-music
            span Solo-Entertainer
          li
            i.icon.icon-music
            span Live-Musiker
          li
            i.icon.icon-music
            span Sänger
          li
            i.icon.icon-music
            span Moderator
          li
            i.icon.icon-music
            span Musik- und Lichtanlagenverleiher
          li
            i.icon.icon-music
            span DJ
          li
            i.icon.icon-music
            span Last Minute Vertretungen auch für Kollegen
          li
            i.icon.icon-music
            span Bereitschaftsdienst pauschal 10h / 350€  
        .service__block--secondary
          h3(style="min-height:auto;margin-top:50px;") Gebiet & Location
          ul
            li
              i.icon.icon-marker
              span Bundesweit 
            li
              i.icon.icon-marker
              span Indoor & Outdoor
      .service__block.service__block--primary
        h3 Was kostet ein Hochzeitsmusiker?
        .service__block__price
          h4 Eine Hochzeitsmusiker
          strong 450 - 4.000 € 
            span für eine Band
        .service__block__price
          h4 Der Stundensatz für einen Hochzeitsmusiker
          strong 50 - 200 €
            span pro Stunde
        .service__block__price
          h4 Der Stundensatz für einen Hochzeitsmusiker
          p ein DJ ohne Moderation und inklusive Equipment der lediglich eine playlist oder einzelne Titel abspielt
          strong 20 - 100 €
            span pro Stunde